@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

/* styles/globals.css */

/* styles/globals.css */

.rounded-background {
    background-image: url("/footerbg.svg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-background {
    background-image: url("/bghero.svg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.dark-banner {
    background-image: url("/background.svg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
